<!DOCTYPE html>
<html>

<head>
    <title>{%= o.htmlWebpackPlugin.options.title %}</title>
    <style>
        body { padding:0; margin:0; background: #ccc; }
    </style>
</head>

<body>
    <div class="container">
        <section class="guess-container">
            <div class="title">HANGMAN GAME</div>
            <div class="display"></div>
            <div class="keyboard"></div>
        </section>
        <section class="hangman-container"></section>
        <section class="status-container"></section>
        <section class="input-container"></section>
    </div>
</body>

</html>
